:host {
  display: block;
  padding: 1rem 2rem 0;
  margin-bottom: 2rem;

  .logo {
    height: 36px;
    width: 36px;
    background-image: url('/assets/logo-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1rem;
  }

  .toolbar-module {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
